.colStyleDark {
  border-right: #252c3e91 thin solid;
  background-color: rgba(44, 51, 67, 0.2);
  padding: 0;
}

.colStylelight {
  border-right: #252c3e91 thin solid;
  background-color: rgba(44, 51, 67, 0.18);
  padding: 0;
}

.landingDecor {
  width: 4px;
  height: 25px;
  position: absolute;
  background: #ffffff;
  top: 15%;
  z-index: 5000;
}

.landingDecor2 {
  width: 4px;
  height: 25px;
  position: absolute;
  background: #ffffff;
  top: 85%;
  z-index: 5000;
}

.landingDecorNone {
 display: none;

}

@media(min-width:320px) and (max-width:768px) {
  .landingDecor {
display: none
  }
  
  .landingDecor2 {
    display: none
  }
  
  .landingDecorNone {
   display: none;
  
  }
}