.centerImg {
  -webkit-background-size: 70%;
  background-size: 70%;
  background-repeat: no-repeat;
  width: 240px;
  height: 250px;
  position: absolute;
  left: 34%;
  top: 50%;
  opacity: 0;
  margin-left: -150px;
  margin-top: -150px;
  z-index: 20;

}

