.centerImg {
  background-size: 30%;
  background-repeat: no-repeat;
  width: 16%;
  padding:3px;
  height: auto;
  position: relative;
  top: 20%;
  z-index: 20;
  align-self: baseline;
  margin: 0px 0px 0px auto;

}

.centerLogo {
  background-size: 30%;
  background-repeat: no-repeat;
  width: 16%;
  padding:3px;
  height: auto;
  position: relative;
  top: 20%;
  z-index: 20;
  align-self: baseline;
  margin: 0px 0px 0px auto;
}

