.circles {
  position: fixed;
  right: 17%;
  top: 79%;
  z-index: 20;
  //width: 120px;
  height: 20px;

}


@media(min-width:320px) and (max-width:768px) {
  .circles {
    position: fixed;
    top: 79%;
    z-index: 20;
    //width: 120px;
    height: 20px;
  
  }
}
